:root {
--border: linear-gradient(90deg, #FFAC12, #000000);
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

li, 
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.about-cont {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 100px;
}

.container-main {
    max-width: 1100px;
    margin: 0 auto;
}

/* ANIMATIONS */

@keyframes fadeInRight {
    0% {
        opacity: 0%;
        transform: translateX(2%);
    }

    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes fadeInRightNext {
    0% {
        opacity: 0%;
        transform: translateX(20%);
    }

    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0%;
        transform: translateX(-10%);
    }

    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes appear {
    from {
        opacity: 0%;
        transform: translateY(15%);
    }

    to {
        opacity: 100%;
        transform: translateY(0%);
    }
}

#hl1 {
    animation: fadeInRight 0.5s;
}

#hl2 {
    animation: fadeInRight 0.7s;
}

#hl3 {
    animation: fadeInRight 1s;
}

#hl4 {
    animation: fadeInRight 1.2s;
}

/* FONTS */

@font-face {
    font-family: 'InterBold';
    src: local('Inter Bold'),
        url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'InterRegular';
    src: local('InterRegular'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Jura';
    src: local('Jura'),
        url('../fonts/Jura-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }

/* HEADER-WRAPPER */

.header-wrapper {
    padding: 0 20px 0 20px;
    border-radius: 10px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeInRight 1s ease;
}

.header-part {
    padding-top: 20px;
}

.header-list {
    display: flex;
    gap: 65px;
}

.left-part__inner {
    color: #fff;
}

.header-list__item {
    font-family: 'InterBold';
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.header-list__item:hover {
    color: #FFAC12;
}

.right-button__inner {
    font-family: 'InterBold';
    cursor: pointer;
    background: none;
    border: none;
}

.right-part {
    display: flex;
    gap: 10px;
    width: 211px;
    height: 50px;
    border-top-right-radius: 20px;
    background: #FFAC12;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.right-part:hover {
    box-shadow: 0 0 12px #ffffff76;
    transform: scale(1.040);
}

/* MAIN */

.main-wrapper {
    animation: appear 1s ease;
}

.back-img {
    background-image: url(../img/back.png);
    background-size: cover;
    background-position: center;
    height: 805px;
    box-shadow: inset -15px -323px 390px 296px rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
} 

.main {
    margin-top: -491px;
}

.main-title__inner {
    font-family: 'InterBold';
    color: #fff;
    font-size: 50px;
    max-width: 621px;
    padding-bottom: 20px;
    animation: fadeInLeft;
}

.main-description__inner {
    font-family: 'InterRegular';
    font-size: 19px;
    color: #a2a2a2;
    max-width: 469px;
}

.more-text {
    font-family: 'InterBold';
}

.more {
    display: flex;
    height: 50px;
    align-items: center;
    margin-top: 171px;
    padding-left: 30px;
    gap: 5px;
    background: #fff;
    box-shadow: 0 0 10px #000;
    transition: all 0.23s ease-in-out;
}

.more:hover {
    color: #FFAC12;
}

/* WHY-OUT */

.container-why__out {
    padding: 91px 84px 0 0;
    max-width: 1775px;
    margin: 0 auto;
}

.why-out__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-part-why-out__img {
    visibility: visible;
    animation: fadeInLeft 1.4s ease;
    width: 650px;
}

.right-part-why-out__border {
    width: 169px;
    height: 4px;
    background: var(--border);
}

.right-part-why-out-title__inner {
    visibility: visible;
    animation: fadeInRightNext 1s ease-in-out;
    font-family: 'InterBold';
    padding-top: 30px;
    font-size: 46px;
    max-width: 452px;
}

.right-part-why-out-description__inner {
    font-family: 'InterRegular';
    animation: fadeInRightNext 1.8s ease;
    visibility: visible;
    font-size: 19px;
    padding-bottom: 30px;
    max-width: 480px;
    color: #959595;
}

.right-part-why-out-button__wrapper {
    animation: fadeInRightNext 2.2s ease;
    visibility: visible;
    border-top-right-radius: 20px;
    width: 200px;
    height: 50px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all 0.2s ease-in-out;
}

.right-part-why-out-button__wrapper:hover {
    transform: scale(1.030);
    box-shadow: 0 0 14px #000000a9;
}

.right-part-why-out-button__inner {
    font-family: 'InterBold';
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
}

/* IDEAL-HOUSE */

.ideal-house__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ideal-house-right__img {
    width: 775px;
    visibility: visible;
    animation: fadeInRightNext 1.5s ease;
    visibility: visible;
}

.container-ideal__house {
    padding: 0 50px 0 100px;
    max-width: 1792px;
    margin: 0 auto;
}

.ideal-house-title__inner {
    animation: fadeInLeft 1.5s ease;
    visibility: visible;
    font-family: 'InterBold';
    padding: 20px 0 20px 0;
    font-size: 43px;
}

.week-wrapper {
    animation: fadeInLeft 1.5s ease;
    visibility: visible;
    padding-bottom: 20px;
}

.ideal-house-week-first__inner {
    font-family: 'InterRegular';
    color: #505050;
    font-size: 17px;
}

.ideal-house-arenda__wrapper {
    line-height: 23px;
}

.ideal-house-arenda__inner {
    font-family: 'InterRegular';
    animation: fadeInLeft 1.9s ease;
    visibility: visible;
    font-size: 18px;
}

.ideal-house__arenda__button {
    font-family: 'InterBold';
    animation: fadeInLeft 1.8s ease;
    visibility: visible;
    font-size: 17px;
    margin-top: 20px;
    width: 200px;
    height: 38px;
    background: #000 !important;
    color: #fff;
    border-radius: 10px;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.ideal-house__arenda__button:hover {
    box-shadow: 0 0 10px #000;
    transform: scale(1.040);
}

/* SET-IMG */

.container-set__img {
    padding-top: 100px;
}

.set-img__item {
    transition: all 0.2s ease-in-out;
}

.set-img__item:hover {
    transform: scale(1.070);
}

.set-img__wrapper {
    animation: fadeInRight 2s ease;
    justify-content: center;
    row-gap: 42px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

/* LOCATE */

.locate-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.locate-left__part {
    animation: fadeInRightNext 1s ease;
}

.map {
    animation: fadeInLeft 1s ease;
}

.container-locate {
    padding: 90px 90px 0 90px;
    max-width: 1700px;
    margin: 0 auto;
}

.locate-left-part-description__inner {
    font-family: 'InterRegular';
    max-width: 335px;
    font-size: 17px;
    padding-bottom: 30px;
}

.locate-left-part-title__inner {
    font-family: 'InterBold';
    padding: 20px 0 20px 0;
    font-size: 42px;
}

.locate-left-part-button__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    background: #000;
    border-top-right-radius: 20px;
    gap: 5px;
    transition: all 0.2s ease-in-out;
}

.locate-left-part-button__wrapper:hover {
    transform: scale(1.030);
    box-shadow: 0 0 14px #000000a9;
}

.locate-left-part-button__inner {
    font-family: 'InterBold';
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.locate-left-part__img {
    padding-top: 4px;
}

.border-locate {
    height: 4px;
    background: var(--border);
}

.container-border__locate {
    padding-top: 32px;
    max-width: 1300px;
    margin: 0 auto;
}

/* SET-FULL-IMG */

.container-set-full__img {
    padding: 50px 20px 0 20px;
}

.set-full-img__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 70px;
}

.set-full-img-item__inner {
    width: 290px;
    transition: all 0.2s ease-in-out;
}

.set-full-img-item__inner:hover {
    transform: scale(1.050);
}

.set-full__border {
    max-width: 1829px;
    margin: 0 auto;
}

/* SWIPER */

.container-swiper {
    padding: 64px 0 100px 0;
    max-width: 1166px;
    margin: 0 auto;
}

.swiper-title__inner {
    font-family: 'InterBold';
    max-width: 288px;
    text-align: center;
}

.swiper-block {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    padding: 10px 0 7px 12px;
    border-radius: 5px;
    align-items: center;
    background: #000;
    gap: 7px;
    width: 240px;
}

.swiper-avatar-title__inner {
    font-family: 'InterRegular';
    color: #fff;
}

.swiper-avatar-client__inner {
    font-family: 'InterRegular';
    font-size: 15px;
    color: #908f8f;
}

.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex !important;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 35px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: var(--swiper-theme-color);
    }

    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: var(--swiper-theme-color);
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }

/* QUESTION */

.question-wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 60px;
}

.question-back__color {
    box-shadow: 0 20px 30px #3535357a;
    border-radius: 20px;
    width: 1023px;
    height: 667px;
    margin: 0 auto;
    margin-top: 80px;
}

.question-title {
    text-align: center;
}

.question-title__inner {
    font-family: 'Jura';
    padding-top: 40px;
    font-size: 40px;
}

.question-wrapper__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.question-name {
    font-family: 'InterRegular';
    border: none;
    background: none;
    border-bottom: 1px solid;
    width: 330px;
    padding-bottom: 10px;
    font-size: 17px;
    outline: none;
}

.qustion-number {
    font-family: 'InterRegular';
    border: none;
    background: none;
    border-bottom: 1px solid;
    width: 330px;
    padding-bottom: 10px;
    font-size: 17px;
    outline: none;
}

.question-messege {
    font-family: 'InterRegular';
    border: none;
    background: none;
    border-bottom: 1px solid;
    width: 330px;
    padding-bottom: 10px;
    font-size: 17px;
    outline: none;
}

.qustion-button {
    margin-top: 207px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border-top-right-radius: 20px;
    gap: 7px;
    width: 200px;
    height: 60px;
    transition: all 0.2s ease-in-out;
}

.qustion-button:hover {
    transform: scale(1.030);
    box-shadow: 0 0 14px #000000a9;
}

.qustion-button__item {
    font-family: 'InterBold';
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* FOOTER */

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer {
    background: #000;
    margin-top: 100px;
    padding: 69px 0 153px 0;
}

.footer-left-title__inner {
    font-family: 'InterBold';
    color: #fff;
}

.footer-columns-title__inner {
    font-family: 'InterBold';
    font-size: 21px;
    padding-bottom: 20px;
    color: #fff;
}

.footer-columns__item {
    line-height: 25px;
}

.footer-columns-bottom-item__inner {
    font-family: 'InterRegular';
    font-size: 16px;
    color: #9d9d9d;
    transition: all 0.2s ease-in-out;
}

.footer-columns-bottom-item__inner:hover {
    color: #FFAC12;
} 

.container-footer {
    max-width: 1090px;
    margin: 0 auto;
}

.footer-left__part {
    display: flex;
}

.footer-columns__wrapper {
    display: flex;
    gap: 87px;
}

.footer-right-part-socials__set {
    display: flex;
    gap: 10px;
}

.footer-right-part__buuton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFAC12;
    border-top-right-radius: 20px;
    width: 190px;
    height: 50px;
    gap: 8px;
}

.footer-right-part__buuton:hover {
    transform: scale(1.030);
    box-shadow: 0 0 14px #ffffff9e;
}

.footer-right-part-button__inner {
    font-family: 'InterBold';
    background: none;
    border: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.footer-left__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    border-bottom: 1px solid #97979751;
    padding-bottom: 25px;
}

.footer-right-part-socials__inner {
    padding-bottom: 10px;
}

.footer-span {
    color: #FFAC12;
}

/* ABOUT US */

.wrapper-set__img {
    display: flex;
    gap: 20px;
}

.about-top__inner {
    width: 400px;
}

.about-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-description {
    box-shadow: 0 0 25px #00000054;
    padding: 40px;
    width: 650px;
    height: 400px;
    border-radius: 20px;
}

.about-description-title__inner {
    font-size: 30px;
    border-bottom: 1px solid #00000037;
    padding-bottom: 50px;
}

.about-description__inner {
    padding-top: 50px;
    max-width: 640px;
    line-height: 30px;
    font-size: 24px;
}

.more-wrapper {
    display: flex;
    justify-content: center;
}

.second {
    display: flex;
    justify-content: space-between;
}

.jackdaw-item__wrapper {
    display: grid;
    padding-top: 13%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 33px;
    row-gap: 20px;
}

.jackdaw-item {
    display: flex;
    gap: 10px;
}

